*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #E55473;
}
/* banner styles */
.banner-container{
    background-color: #FCEEF1;
    display: flex;
    width: fit-content;
    height: 80vh;
}
.banner-text-container,
.banner-img{
    width: 50%;
}
.banner-text-container{
    padding: 100px 50px 340px 147px;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-decription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    width: 80%;
}
.btn{
    border: none;
    color: #FCEEF1;
    background: #E55473;
    padding: 16px 32px;
    border-radius: 8px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
}
.banner-img{
    position: relative;
}
.banner-img img{
    max-width: 75%;
    position: absolute;
    bottom: 0px;
}
/* Hot Deal styles */
.hot-deal-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-decription{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.hot-deal-container{
    display: flex;
    background-color: #FCEEF1;
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
}
.hot-deal-text{
    width: 50%;
    text-align: center;
    align-items: center;
}
.hot-deal-decription{
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}