*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #E55473;
}
/* banner styles */
.banner-container{
    background-color: #FCEEF1;
    display: flex;
    width: fit-content;
    height: 80vh;
}
.banner-text-container,
.banner-img{
    width: 50%;
}
.banner-text-container{
    padding: 100px 50px 340px 147px;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-decription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    width: 80%;
}
.btn{
    border: none;
    color: #FCEEF1;
    background: #E55473;
    padding: 16px 32px;
    border-radius: 8px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
}
.banner-img{
    position: relative;
}
.banner-img img{
    max-width: 75%;
    position: absolute;
    bottom: 0px;
}
/* Hot Deal styles */
.hot-deal-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-decription{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.hot-deal-bg{
    background-color: #FCEEF1;
}
.hot-deal-container{
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    align-items: center;
    width: 80%;
    margin: auto;
}
.hot-deal-text{
    width: 55%;
    text-align: center;
    align-items: center;
}
.hot-deal-decription{
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}
/* Social media section styles */
.instagram-container{
    justify-content: center;
    text-align: center;
}
.cards-container{
    display: flex;
    gap: 24px;
    width: 80%;
    margin: auto;
}
.img-card img{
    width: 100%;
}
.title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    width: 40%;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 0px;
}
/* News letter sction  */
.newsletter-container{
    background-image: url("./Flower Asset/Rectangle 9.png");
    background-position: center;
    width: 1440px;
    height: 449px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.form{
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 64px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-right: 20px;
    padding-left: 30px;
}
.email-with-btn-container{
    display: flex;
}